@font-face {
  font-family: "Panton";
  src: url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.eot"); /* IE9*/
  src: url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.woff2") format("woff2"), /* chrome、firefox */
  url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.woff") format("woff"), /* chrome、firefox */
  url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("public/fonts/panton/5920187ef0bf42859293e1ea01545b96.svg") format("svg"); /* iOS 4.1- */
  font-display: swap;
}
$font-family: 'Panton';
@import 'vuetify/styles';

.v-application {
  .text-h1,
  .text-h2,
  .text-h3,
  .text-headline,
  .text-title,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-button,
  .text-caption,
  .text-overline,
  a {
    font-family: $font-family, sans-serif !important;
  }

  .sidebar .v-list-item--active::before {
    content: "";
    top: 15%;
    left: 0;
    width: 8px;
    height: 70%;
    border-color: #77A11D;
    background-color: #77A11D;
    border-radius: 5px;
  }

  .v-text-field__details {
    padding-top: 0.5rem !important;
    margin-bottom: 0 !important;
  }
}
